@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
}

@if (selection.Length > 0)
{
    <ul class="navbar-nav ml-auto" style="font-size:12px;">
        <li class="nav-item"><a class="nav-link" href="http://localhost:8081/">Home</a></li>
        @foreach (var item in selection)
        {
            if (item.Children.Count() > 0)
            {
                <li class="dropdown @(item.IsAncestorOrSelf(Model.Content) ? "active" : null) nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="@item.Url">@item.Name</a>
                    <ul class="dropdown-menu" style="font-size:12px;">
                        @foreach (var child in item.Children.Where(x => x.IsVisible()).ToArray())
                        {
                            <a class="dropdown-item nav-item" href="@child.Url">@child.Name</a>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item"><a class="nav-link" href="@item.Url">@item.Name</a></li>
            }




        }
    </ul>
}